/* -------------------------------------------------- *\
    $main.css
\* -------------------------------------------------- */
/**
* $General
* $Header
* $About
* $Project
* $Side Navbar
*/



/* -------------------------------------------------- *\
    $General
\* -------------------------------------------------- */
.title-text {
    position: relative;
    background-color: transparent;
    font-weight: 300;
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title-text::after {
    content: "";
    position: absolute;
    border-bottom: #FFF solid 3px;
    width: 3em;
    height: 160%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* -------------------------------------------------- *\
    $Header
\* -------------------------------------------------- */
#header {
    background: url(../images/title_bg.png) no-repeat scroll bottom;
    height: 100vh;
    width: 100%;
}

#header .header-content {
    background-color: transparent;
    font-weight: 700;
    font-size: 3rem;
    color: #121C26;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}



/* -------------------------------------------------- *\
    $About
\* -------------------------------------------------- */
#about {
    height: 100vh;
    width: 100%;
}

#about p {
    line-height: 2.6rem;
    font-size: 1.2rem;
    padding-left: 2rem;
}



/* -------------------------------------------------- *\
    $Project
\* -------------------------------------------------- */
#project {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 16vh;
}

#project .row {
    margin-top: 8vh;
}

.card {
    box-shadow: 0 0 2px 4px rgba(10, 18, 26, 0.2);
    height: 360px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border: none;
    background-color: #121C26;
    margin: 20px 0;
}

.card-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 1s, height 1s;
}

.card-info {
    position: absolute;
    width: 100%;
    bottom: -90%;
    left: 0;
    z-index: 1;
    background-color: rgba(18, 28, 38, 0.75);
    padding: 38px 36px 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s 0.2s cubic-bezier(0, .5, .54, .99), bottom 0.6s cubic-bezier(0, .5, .54, .99);
}

.card-info::after {
    content: "";
    position: absolute;
    border-left: #FFF solid 1.6px;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 24px;
    transition: height 0.4s 0.4s;
}

.card:hover .card-info {
    opacity: 1;
    bottom: 0;
}
.card:hover .card-img {
    width: 105%;
    height: 105%;
}
.card:hover .card-info::after {
    height: 70%;
}



/* -------------------------------------------------- *\
    $Side Navbar
\* -------------------------------------------------- */
.sideNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 10;
    padding-left: 46px;
    padding-top: 32px;
    padding-bottom: 32px;
    left: -200px;

    animation-name: nav-slideIn;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;

}

.sideNav-scroll {
    position: absolute;
    display: none;
    height: 92%;
    width: 20px;
    border-left: 2px solid white;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sideNav ul {
    list-style: none;
    padding-left: 0;
}

.sideNav a {
    text-decoration: none;
    font-size: 1.6rem;
    transition: 1s;
    color: black;
    opacity: 0;
    animation-name: nav-fadeIn;
    animation-duration: 1s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
}

.sideNav .sideNav-list a,.sideNav-list i {
    font-size: 2.2rem;
    vertical-align: middle;
}

.sideNav .sideNav-list a span {
    padding-left: 10px;
    font-size: 1.4rem;
    letter-spacing: -1.6px;
    display: none;
    vertical-align: middle;
}

.sideNav .sideNav-social a:hover{
    color: #7C9CBE !important;
}

.sideNav .brand {
    display: block;
    font-size: 1.6rem;
    line-height: 1.4;
}

.sideNav::before {
    content: "";
    position: absolute;
    height: 92%;
    width: 20px;
    border-left: 2px solid black;
    top: 50%;
    transform: translate(-50%, -50%);
}
@keyframes nav-slideIn{
    0%{left:-200px}
    100%{left: 0;}
}
@keyframes nav-fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
